<div class="grid gap-y-5">
  <h1 class="font-bold text-5xl py-10 text-center">Web & Application Development Services (W&ADS)</h1>


  <p class="leading-relaxed text-lg">
    The Web and Application Development Services team supports and provides technical expertise for nearly 
     700 LSA websites, and develops and maintains administrative information systems on behalf of LSA for faculty, 
     staff, and students. 
     We offer a variety of services, including WordPress sites for faculty, labs, and research projects, Adobe 
     Experience Manager (AEM) implementation for departmental and unit websites, Google Analytics, Mailchimp, 
     Unit Portals and the LSA Gateway. We also develop and support administrative and student advising processes 
     in the College of LSA by providing scalable applications and reporting solutions for faculty, staff and students, 
     focusing on the collection, storage, retrieval and interpretation of data/information.  
  </p>
</div>

